Source: salt-formula-zookeeper
Maintainer: marco <marek.celoud@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-zookeeper
Vcs-Git: https://github.com/tcpcloud/salt-formula-zookeeper.git

Package: salt-formula-zookeeper
Architecture: all
Depends: ${misc:Depends}
Description: zookeeper salt formula
 Install and configure zookeeper system.
